{% extends '_base.html' %}

{% block title %}Dept. Stats{% endblock %}

{% block content %}
    <br>
    <h5>Daily Departmental Manpower Statistics:</h5>
    <div class="row">
        {% for dept in deptstats %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header bg-dark text-white">
                    <h5 class="card-title">{{ dept.0 }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <strong>Total Staff:</strong> {{ dept.1 }}<br>
                        <strong>On Vacation:</strong> {{ dept.2 }}<br>
                        <strong>Away Sick:</strong> {{ dept.3 }}<br>
                        <strong>Staff Present:</strong> {{ dept.4 }}<br>
                        <strong>Department Understaffed:</strong> 
                        {% if dept.5 == "Yes" %}
                            <span class="text-danger">{{ dept.5 }}</span>
                        {% else %}
                            <span class="text-success">{{ dept.5 }}</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
