{% extends '_base.html' %}

{% block title %}Welcome to HR Assist{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to HR Assist</h1>
    <p class="lead">Your go-to solution for human resource management.</p>
    <hr class="my-4">
    <p>Manage your HR needs effortlessly.</p>
    {% if user.is_authenticated %}
        <p>Hi {{ user.email }}</p>
    {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Log In</a>
    {% endif %}

</div>
{% endblock %}
